

<% layout('/layouts/boilerplate') %>

<body>
      <div class="row">
        <div class="col-6 offset-3">
     <h3 class="mt-2"> Edit your  listing</h3>
    <form method="post"  action="/listings/<%=listing._id%>?_method=PATCH"  class="needs-validation" novalidate>

        <div class="mb-2">
               <label for="title" class="form-label"> Title </label>
                <input type="text" value="<%=listing.title%>" name="listing[title]" class="form-control"   required>
                  <div class="valid-feedback"> Looking good !!</div>
  
        </div>

            <div class="mb-2">
                 
                 <label for="discription" class="form-label"> Discription </label>
                 <textarea type="text"   name="listing[discription]" class="form-control" required><%= listing.discription %></textarea>
                  <div class="invalid-feedback"> discription should be correct !</div>
            </div>
      
            <div class="mb-2">
                 <label for="image-filename" class="form-label"> Image-file-Name </label>
                <input type="text" value="<%=listing.image.filename%>"  name="listing[image][filename]" class="form-control" required>
                     <div class="invalid-feedback"> image-file name should be correct and valid !</div>
            </div>

        <div class="mb-2">
            <label for="image-url" class="form-label"> Image-URL  </label>
            <input type="text"  value="<%=listing.image.url%>"  name="listing[image][url]" class="form-control" required>
                     <div class="invalid-feedback"> url should be correct and valid !</div>
        </div>

        <div class="row">
        <div class="mb col-5">
                     <label for="image-url" class="form-label"> Price </label>
                    <input type="number"  value="<%=listing.price%>" name="listing[price]" class="form-control" required>
                      <div class="invalid-feedback">  price should be valid and correct !</div>
        </div>
 
          <div class="mb-2 col-7">
                  <label for="location" class="form-label"> Location </label>
                 <input type="text"  value="<%=listing.location%>" name="listing[location]" class="form-control" required>
                   <div class="invalid-feedback"> location should be valid !</div>
          </div>
          </div>
           <div class="mb">
             <label for="country" class="form-label"> Country </label>
           <input type="text"  value="<%=listing.country%>" name="listing[country]" class="form-control" required>
             <div class="invalid-feedback"> country should be valid and correct !</div>
           </div>
          <br>
          <button class="btn btn-drak add-btn">submit</button>
          <br><br>
    </form>
      </div>
  </div>
</body>
